{
  "openapi": "3.0.0",
  "info": {
    "title": "API-Comunicaciones",
    "version": "1.0",
    "description": ""
  },
  "servers": [
    {
      "url": "http://api.sdh.gov.co/comunicaciones"
    }
  ],
  "paths": {
    "/v1/mensajes": {
      "post": {
        "summary": "Enviar un mensaje",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mensaje"
                },
                "examples": {
                  "Ejemplo respuesta": {
                    "value": {
                      "codigo": 200,
                      "mensaje": "{\"asunto\":\"Certificado de completitud curso\",\"remitente\":{\"correo\":\"hola@movilidadbogota.gov.co\",\"usuario\":null},\"destinatarios\":[{\"correo\":\"correo@gmail.com\",\"usuario\":{\"identificacion\":\"CC-79590984\",\"organizacion\":\"CC-79590984\"}}],\"destinatariosCopia\":null,\"destinatariosOcultos\":null,\"adjuntos\":[{\"nombre\":\"certificado.jpg\",\"uri\":{\"rel\":\"certificado.jpg\",\"href\":\"https://stcomunicacionesmovprod.blob.core.windows.net/comunicaciones/temporal/51e5dc20-b720-428f-8a63-4573465b7866.jpg\",\"method\":null},\"tipo\":\"image/jpg\",\"disposicion\":null}],\"contenidos\":null,\"confidencialidad\":false,\"sinLeer\":false,\"Type\":null,\"id\":\"8ae85df3-0483-4c81-877d-ff53d8defe15\",\"mensaje\":\"<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.<br><br>De acuerdo con el Art. 7° de la Ley 1843 de 2017 que adiciona el parágrafo 2° del Art. 136 de la Ley 769 de 2002, cuando se demuestre que la orden de comparendo por infracción a las normas de tránsito detectada por sistemas automáticos, semiautomáticos y otros medios tecnológicos, no fue notificada o indebidamente notificada, los términos establecidos para la reducción de la sanción comenzarán a correr a partir de la fecha de la notificación del comparendo.<br><br>Para ello, puede presentar por escrito ante la Subdirección de Contravenciones de la Secretaría Distrital de Movilidad la solicitud de revocatoria directa, del acto administrativo por medio del cual se impone la sanción, esta figura se encuentra regulada en el Art. 93 y siguientes de la Ley 1437 de 2011.</p></div>\",\"fechaEnvio\":null,\"entregado\":false,\"tags\":null}",
                      "descripcion": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "los valores requeridos para la comunicacion no son validos\nOcurrio un error al tratar de procesar la solicitud"
          },
          "401": {
            "description": "Error al obtener la información del usuario"
          },
          "404": {
            "description": "Ocurrio un error al tratar de Adjuntar el archivo, archivo no encontrado en el storage"
          }
        },
        "operationId": "post-v1-mensajes",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comunicacion"
              },
              "examples": {
                "Ejemplo Creación": {
                  "value": {
                    "Asunto": "Certificado de completitud curso",
                    "Mensaje": "<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.<br><br>De acuerdo con el Art. 7° de la Ley 1843 de 2017 que adiciona el parágrafo 2° del Art. 136 de la Ley 769 de 2002, cuando se demuestre que la orden de comparendo por infracción a las normas de tránsito detectada por sistemas automáticos, semiautomáticos y otros medios tecnológicos, no fue notificada o indebidamente notificada, los términos establecidos para la reducción de la sanción comenzarán a correr a partir de la fecha de la notificación del comparendo.<br><br>Para ello, puede presentar por escrito ante la Subdirección de Contravenciones de la Secretaría Distrital de Movilidad la solicitud de revocatoria directa, del acto administrativo por medio del cual se impone la sanción, esta figura se encuentra regulada en el Art. 93 y siguientes de la Ley 1437 de 2011.</p></div>",
                    "Destinatarios": [
                      {
                        "Correo": "correo@gmail.com",
                        "Usuario": {
                          "Identificacion": "CC-79590984",
                          "Organizacion": "CC-79590984"
                        }
                      }
                    ],
                    "DestinatariosCopia": null,
                    "DestinatariosOcultos": null,
                    "Adjuntos": [
                      {
                        "nombre": "certificado.jpg",
                        "uri": {
                          "rel": "certificado.jpg",
                          "href": "https://stcomunicacionesmovprod.blob.core.windows.net/comunicaciones/temporal/51e5dc20-b720-428f-8a63-4573465b7866.jpg",
                          "method": null
                        },
                        "tipo": "image/jpg"
                      }
                    ],
                    "Contenidos": null,
                    "Confidencialidad": false
                  }
                }
              }
            }
          }
        },
        "description": "Esta operación permite crear un mensaje",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Token JWT del usuario"
          }
        ]
      },
      "get": {
        "summary": "Consultar mensajes",
        "operationId": "get-v1-mensajes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Mensaje"
                  }
                },
                "examples": {
                  "Ejemplo respuesta": {
                    "value": {
                      "codigo": 200,
                      "mensaje": "[{\"asunto\":\"Certificado de completitud curso\",\"remitente\":{\"correo\":\"hola@movilidadbogota.gov.co\",\"usuario\":null},\"destinatarios\":[{\"correo\":\"correo@gmail.com\",\"usuario\":{\"identificacion\":\"CC-79590984\",\"organizacion\":\"CC-79590984\"}}],\"destinatariosCopia\":null,\"destinatariosOcultos\":null,\"adjuntos\":[{\"nombre\":\"NuevoNombre.png\",\"uri\":{\"rel\":\"certificado.jpg\",\"href\":\"https://stcomunicacionesmovdev.blob.core.windows.net/comunicaciones/temporal/a6429cc2-a079-48f8-b366-b7e133ce2413.jpg\",\"method\":null},\"tipo\":\"image/png\",\"disposicion\":null}],\"contenidos\":null,\"confidencialidad\":false,\"sinLeer\":false,\"Type\":\"Mensaje\",\"id\":\"afa52848-b3ef-4f2a-b321-6ebc7459e9d6\",\"mensaje\":\"<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.<br><br>De acuerdo con el Art. 7° de la Ley 1843 de 2017 que adiciona el parágrafo 2° del Art. 136 de la Ley 769 de 2002, cuando se demuestre que la orden de comparendo por infracción a las normas de tránsito detectada por sistemas automáticos, semiautomáticos y otros medios tecnológicos, no fue notificada o indebidamente notificada, los términos establecidos para la reducción de la sanción comenzarán a correr a partir de la fecha de la notificación del comparendo.<br><br>Para ello, puede presentar por escrito ante la Subdirección de Contravenciones de la Secretaría Distrital de Movilidad la solicitud de revocatoria directa, del acto administrativo por medio del cual se impone la sanción, esta figura se encuentra regulada en el Art. 93 y siguientes de la Ley 1437 de 2011.</p></div>\",\"fechaEnvio\":null,\"entregado\":false,\"tags\":null},{\"asunto\":\"Certificado de completitud curso\",\"remitente\":{\"correo\":\"hola@movilidadbogota.gov.co\",\"usuario\":null},\"destinatarios\":[{\"correo\":\"correo1@gmail.com\",\"usuario\":{\"identificacion\":\"CC-79590984\",\"organizacion\":\"CC-79590984\"}}],\"destinatariosCopia\":null,\"destinatariosOcultos\":null,\"adjuntos\":[{\"nombre\":\"NuevoNombre.png\",\"uri\":{\"rel\":\"certificado.jpg\",\"href\":\"https://stcomunicacionesmovdev.blob.core.windows.net/comunicaciones/temporal/a6429cc2-a079-48f8-b366-b7e133ce2413.jpg\",\"method\":null},\"tipo\":\"image/png\",\"disposicion\":null}],\"contenidos\":null,\"confidencialidad\":false,\"sinLeer\":false,\"Type\":\"Mensaje\",\"id\":\"7e9f13b8-e553-4fca-8c31-beb6ad2404a9\",\"mensaje\":\"<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.<br><br>De acuerdo con el Art. 7° de la Ley 1843 de 2017 que adiciona el parágrafo 2° del Art. 136 de la Ley 769 de 2002, cuando se demuestre que la orden de comparendo por infracción a las normas de tránsito detectada por sistemas automáticos, semiautomáticos y otros medios tecnológicos, no fue notificada o indebidamente notificada, los términos establecidos para la reducción de la sanción comenzarán a correr a partir de la fecha de la notificación del comparendo.<br><br>Para ello, puede presentar por escrito ante la Subdirección de Contravenciones de la Secretaría Distrital de Movilidad la solicitud de revocatoria directa, del acto administrativo por medio del cual se impone la sanción, esta figura se encuentra regulada en el Art. 93 y siguientes de la Ley 1437 de 2011.</p></div>\",\"fechaEnvio\":\"06/16/2021 09:53:08\",\"entregado\":true,\"tags\":null},{\"asunto\":\"Certificado de completitud curso\",\"remitente\":{\"correo\":\"hola@movilidadbogota.gov.co\",\"usuario\":null},\"destinatarios\":[{\"correo\":\"correo@gmail.com\",\"usuario\":{\"identificacion\":\"CC-79590984\",\"organizacion\":\"CC-79590984\"}}],\"destinatariosCopia\":null,\"destinatariosOcultos\":null,\"adjuntos\":[{\"nombre\":\"NuevoNombre.png\",\"uri\":{\"rel\":\"certificado.jpg\",\"href\":\"https://stcomunicacionesmovdev.blob.core.windows.net/comunicaciones/temporal/a6429cc2-a079-48f8-b366-b7e133ce2413.jpg\",\"method\":null},\"tipo\":\"image/png\",\"disposicion\":null}],\"contenidos\":null,\"confidencialidad\":false,\"sinLeer\":false,\"Type\":\"Mensaje\",\"id\":\"7aeb1a90-49aa-4893-b348-bdf504361ef0\",\"mensaje\":\"<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.<br><br>De acuerdo con el Art. 7° de la Ley 1843 de 2017 que adiciona el parágrafo 2° del Art. 136 de la Ley 769 de 2002, cuando se demuestre que la orden de comparendo por infracción a las normas de tránsito detectada por sistemas automáticos, semiautomáticos y otros medios tecnológicos, no fue notificada o indebidamente notificada, los términos establecidos para la reducción de la sanción comenzarán a correr a partir de la fecha de la notificación del comparendo.<br><br>Para ello, puede presentar por escrito ante la Subdirección de Contravenciones de la Secretaría Distrital de Movilidad la solicitud de revocatoria directa, del acto administrativo por medio del cual se impone la sanción, esta figura se encuentra regulada en el Art. 93 y siguientes de la Ley 1437 de 2011.</p></div>\",\"fechaEnvio\":\"06/16/2021 08:15:53\",\"entregado\":true,\"tags\":null},{\"asunto\":\"Certificado de completitud curso\",\"remitente\":{\"correo\":\"hola@movilidadbogota.gov.co\",\"usuario\":null},\"destinatarios\":[{\"correo\":\"correo@gmail.com\",\"usuario\":{\"identificacion\":\"CC-79590984\",\"organizacion\":\"CC-79590984\"}}],\"destinatariosCopia\":null,\"destinatariosOcultos\":null,\"adjuntos\":[{\"nombre\":\"NuevoNombre.png\",\"uri\":{\"rel\":\"certificado.jpg\",\"href\":\"https://stcomunicacionesmovdev.blob.core.windows.net/comunicaciones/temporal/a6429cc2-a079-48f8-b366-b7e133ce2413.jpg\",\"method\":null},\"tipo\":\"image/png\",\"disposicion\":null}],\"contenidos\":null,\"confidencialidad\":false,\"sinLeer\":false,\"Type\":\"Mensaje\",\"id\":\"6f2afc0e-af7f-4e92-aca0-97f310ea7d29\",\"mensaje\":\"<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.<br><br>De acuerdo con el Art. 7° de la Ley 1843 de 2017 que adiciona el parágrafo 2° del Art. 136 de la Ley 769 de 2002, cuando se demuestre que la orden de comparendo por infracción a las normas de tránsito detectada por sistemas automáticos, semiautomáticos y otros medios tecnológicos, no fue notificada o indebidamente notificada, los términos establecidos para la reducción de la sanción comenzarán a correr a partir de la fecha de la notificación del comparendo.<br><br>Para ello, puede presentar por escrito ante la Subdirección de Contravenciones de la Secretaría Distrital de Movilidad la solicitud de revocatoria directa, del acto administrativo por medio del cual se impone la sanción, esta figura se encuentra regulada en el Art. 93 y siguientes de la Ley 1437 de 2011.</p></div>\",\"fechaEnvio\":\"06/16/2021 07:41:46\",\"entregado\":true,\"tags\":null},{\"asunto\":\"SendGridB2C07\",\"remitente\":{\"correo\":\"hola@movilidadbogota.gov.co\",\"usuario\":null},\"destinatarios\":[{\"correo\":\"correo@gmail.com\",\"usuario\":{\"identificacion\":\"CC-79590984\",\"organizacion\":\"CC-79590984\"}}],\"destinatariosCopia\":null,\"destinatariosOcultos\":null,\"adjuntos\":[{\"nombre\":\"NuevoNombre.png\",\"uri\":{\"rel\":\"nuevo.png\",\"href\":\"https://stcomunicacionesmovdev.blob.core.windows.net/comunicaciones/temporal/7c95fd7c-f192-4e5c-be86-f12f3864e495.png\",\"method\":null},\"tipo\":\"image/png\",\"disposicion\":null}],\"contenidos\":null,\"confidencialidad\":false,\"sinLeer\":false,\"Type\":\"Mensaje\",\"id\":\"74563d5e-7a7b-4508-9874-de43d288b2bb\",\"mensaje\":\"<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.</p></div>\",\"fechaEnvio\":\"06/15/2021 15:47:57\",\"entregado\":true,\"tags\":null}]",
                      "descripcion": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ocurrio un error al tratar de procesar la solicitud"
          },
          "401": {
            "description": "Error al obtener la información del usuario"
          },
          "404": {
            "description": "Parámetro identificación no encontrado\n"
          }
        },
        "description": "Permite consultar mensajes de un usuario, dado un conjunto de parámetros.",
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "description": "Permite indicar que se filtren los que no se han leido",
            "name": "sinLeer"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "criteria",
            "description": "Indica un filtro para buscar por contenido y tags"
          },
          {
            "schema": {
              "type": "integer"
            },
            "in": "query",
            "name": "pagina",
            "description": "Cada resultado se retorna paginado, con cada pagina con un maximo de 20 mensjes"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Token JWT del usuario"
          }
        ]
      },
      "put": {
        "summary": "",
        "operationId": "put-v1-mensajes",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mensaje"
                },
                "examples": {
                  "Ejemplo respuesta": {
                    "value": {
                      "codigo": 200,
                      "mensaje": "{\"asunto\":\"Certificado de completitud curso\",\"remitente\":{\"correo\":\"hola@movilidadbogota.gov.co\",\"usuario\":null},\"destinatarios\":[{\"correo\":\"correo@gmail.com\",\"usuario\":{\"identificacion\":\"CC-79590984\",\"organizacion\":\"CC-79590984\"}}],\"destinatariosCopia\":null,\"destinatariosOcultos\":null,\"adjuntos\":[{\"nombre\":\"certificado.jpg\",\"uri\":{\"rel\":\"certificado.jpg\",\"href\":\"https://stcomunicacionesmovdev.blob.core.windows.net/comunicaciones/temporal/a6429cc2-a079-48f8-b366-b7e133ce2413.jpg\",\"method\":null},\"tipo\":\"image/png\",\"disposicion\":null}],\"contenidos\":null,\"confidencialidad\":false,\"sinLeer\":false,\"Type\":\"Mensaje\",\"id\":\"afa52848-b3ef-4f2a-b321-6ebc7459e9d6\",\"mensaje\":\"<div  align='justify'><p align='justify'>Saludos Andrés Perez Díaz, <br><br>Se anexa el certificado de completitud exitoso para el curso tomado el 27 de abril de 2021.<br><br>De acuerdo con el Art. 7° de la Ley 1843 de 2017 que adiciona el parágrafo 2° del Art. 136 de la Ley 769 de 2002, cuando se demuestre que la orden de comparendo por infracción a las normas de tránsito detectada por sistemas automáticos, semiautomáticos y otros medios tecnológicos, no fue notificada o indebidamente notificada, los términos establecidos para la reducción de la sanción comenzarán a correr a partir de la fecha de la notificación del comparendo.<br><br>Para ello, puede presentar por escrito ante la Subdirección de Contravenciones de la Secretaría Distrital de Movilidad la solicitud de revocatoria directa, del acto administrativo por medio del cual se impone la sanción, esta figura se encuentra regulada en el Art. 93 y siguientes de la Ley 1437 de 2011.</p></div>\",\"fechaEnvio\":null,\"entregado\":false,\"tags\":null}",
                      "descripcion": null
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Ocurrio un error al tratar de procesar la solicitud"
          },
          "404": {
            "description": "Comunicación con identificador {id}, para el número de identificación {identificacion}, no encontrada"
          }
        },
        "description": "Operación de actualización de atributos de un mensaje. Permite actualizar el atributo SinLeer para un mensaje dada también la identificación",
        "parameters": [
          {
            "schema": {
              "type": "boolean"
            },
            "in": "query",
            "name": "sinLeer",
            "description": "Atributo que indica si el mensaje fue leído"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "id",
            "description": "Identificador de la comunicación"
          }
        ]
      }
    },
    "/v1/notificaciones": {
      "get": {
        "summary": "Acceder y recibir notificaciones",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comunicacion"
                }
              }
            }
          }
        },
        "operationId": "get-v1-notificaciones",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comunicacion"
              }
            }
          }
        }
      },
      "post": {
        "summary": "",
        "operationId": "post-v1-notificaciones",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comunicacion"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Comunicacion"
              }
            }
          }
        }
      }
    },
    "/v1/adjuntos": {
      "put": {
        "summary": "Colocar adjuntos a las comunicaciones",
        "operationId": "put-v1-adjuntos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Link.v1"
                },
                "examples": {
                  "Ejemplo respuesta": {
                    "value": {
                      "codigo": 200,
                      "mensaje": "{\"rel\":\"certificado.jpg\",\"href\":\"https://stcomunicacionesmovdev.blob.core.windows.net/comunicaciones/temporal/f9acf730-437b-424d-a075-fdc232897328.jpg\",\"method\":null}",
                      "descripcion": null
                    }
                  }
                }
              }
            }
          },
          "412": {
            "description": "Error en el tamaño del archivo"
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string",
              "example": "myfile.pdf"
            },
            "in": "query",
            "name": "archivo",
            "required": true,
            "description": "Representa el nombre el archivo que se quiere subir."
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Content-Type",
            "description": "multipart/form-data"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "Token JWT del usuario"
          }
        ],
        "description": "Permite cargar los archivos que seran usados como adjuntos en uno o mas correos. Por defecto los archivos cargados como adjuntos se eliminan cuando el correo se envia. Sin embargo, con este flag se le indica a comunicaciones que no borre el archivo con el envio (por defecto estara disponible 1 mes). Esto para escenarios donde debo enviar multiples correos con el mismo archivo como adjunto. Sino se envia, por defecto es false.\nNo se pueden subir archivos de mas de 4 MB.\n\nEsto retorna un objeto Link, donde el atributo rel es el nombre del archivo (el que el usuario dejo) y el href seria la ruta retornada por el Blob Storage. Se deben crear dos contenedores: \nEl container en el blob storage seria \"comunicaciones\".\n\nblobStorage.../comunicaciones/persistente **Donde se suben los archivos que indican que no se borran y se mantienen un mes.**\n.../comunicaciones/temporal **Donde se suben los archivos que se eliminan cuando se envia el correo.**",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              },
              "examples": {}
            }
          }
        }
      }
    },
    "/v1/eventos": {
      "get": {
        "summary": "Acceder los eventos de una comunicacion",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Evento"
                  }
                }
              }
            }
          }
        },
        "operationId": "get-v1-eventos",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "idComunicacion",
            "description": "Identificador de la comunicación",
            "required": true
          }
        ],
        "description": "Permite acceder a los eventos de cualquier comunicacion (mensaje o notificacion). El parametro de path idMensajeExterno representa el id entregado al momento de envio por el proveedor externo."
      },
      "post": {
        "summary": "Agregar un evento de correo",
        "operationId": "post-v1-eventos",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Evento"
                }
              }
            }
          },
          "400": {
            "description": "Ocurrio un error al tratar de procesar la solicitud"
          },
          "404": {
            "description": "Error al obtener la clasificación de eventos"
          }
        },
        "description": "Los eventos se categorizan en DELIVERY, SPAM y REJECT.\nREJECT: Dropped y Bounced\nDELIVERY: Delivered, Opened y Clicked\nSPAM: Spam Reports\nSe recibe un arreglo de eventos por, cada uno se categoriza y se almacena por comunicación generada. Solo se puede almacenar un tipo de evento REJECT y un tipo de evento DELIVERY. Si ya existe un evento de tipo DELIVERY para una comunicación y posteriormente llega otro tipo de evento no será recibido. Si ya se ha almacenado un evento de tipo SPAM, no se debe permitir el almacenamiento de un evento de tipo REJECT.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Evento"
              }
            }
          }
        }
      }
    },
    "/v1/notificaciones/{idComunicacion}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "idComunicacion",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Obtener las notificaciones con base en el id propio de comunicacion",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comunicacion"
                }
              }
            }
          },
          "404": {
            "description": "Hubo un error al tratar de consultar la comunicación con id: {idComunicacion}. La comunicación no existe o no es de tipo notificación."
          }
        },
        "operationId": "get-v1-notificaciones-idComunicacion",
        "description": "Consulta de una comunicación de tipo notificación por id."
      }
    },
    "/v1/mensajes/{idComunicacion}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "idComunicacion",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Acceder al contenido de una comunicacion",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Comunicacion"
                }
              }
            }
          },
          "404": {
            "description": "Hubo un error al tratar de consultar la comunicación con id: {idComunicacion}. La comunicación no existe o no es de tipo mensaje."
          }
        },
        "operationId": "get-v1-mensajes-idComunicacion",
        "description": "Consulta de una comunicación de tipo mensaje por id."
      }
    },
    "/v1/sms": {
      "get": {
        "summary": "SMS",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMS"
                }
              }
            }
          }
        },
        "operationId": "get-v1-email",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "criteria"
          },
          {
            "schema": {
              "type": "string"
            },
            "in": "query",
            "name": "pagina"
          }
        ],
        "description": "consulta de mensajes sms por lista de parámetros"
      },
      "post": {
        "summary": "",
        "operationId": "post-v1-email",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMS"
                }
              }
            }
          }
        },
        "description": "Permite la creación y envío de comunicaciones de tipo sms.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "": {
                    "$ref": "#/components/schemas/SMS"
                  }
                }
              }
            }
          }
        }
      },
      "parameters": []
    },
    "/v1/sms/{idComunicacion}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "idComunicacion",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Your GET endpoint",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SMS"
                }
              }
            }
          }
        },
        "operationId": "get-v1-sms-idComunicacion",
        "description": "Permite acceder al contenido de un sms"
      }
    },
    "/v1/adjuntos/{idComunicacion}/documentos/{documentoId}": {
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "idComunicacion",
          "in": "path",
          "required": true
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "documentoId",
          "in": "path",
          "required": true
        }
      ],
      "get": {
        "summary": "Descargar Adjunto",
        "tags": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/File"
                }
              }
            }
          }
        },
        "operationId": "get-v1-adjuntos-idComunicacion-consultar",
        "description": "Permite descargar un documento adjunto asociado a una comunicación"
      }
    }
  },
  "components": {
    "schemas": {
      "Buzon": {
        "title": "Buzon",
        "type": "object",
        "description": "",
        "properties": {
          "correo": {
            "type": "string",
            "description": "Se usa para especificar el correo particular. Es excluyente de usuario. Si llegan los dos se debe generar un error. Por default deberia ser usuario. Cuando este atributo se diligencia no se puede tener acceso a la trazabilidad del correo."
          },
          "usuario": {
            "$ref": "#/components/schemas/Usuario.v1"
          }
        }
      },
      "Adjunto": {
        "title": "Adjunto",
        "type": "object",
        "description": "",
        "properties": {
          "nombre": {
            "type": "string",
            "description": "Nombre de archivo como quiere que se vea en el correo destino."
          },
          "uri": {
            "$ref": "#/components/schemas/Link.v1"
          },
          "tipo": {
            "type": "string",
            "description": "Representa el tipo de archivo en MIME Type: application/pdf. Sino va el atrbiuto por defecto es PDF."
          }
        }
      },
      "Mensaje": {
        "title": "API de Comunicaciones",
        "type": "object",
        "description": "Operaciones y recursos del servicio de comunicaciones",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Ideunico.v1"
          },
          "contenido": {
            "type": "string"
          },
          "remitente": {
            "$ref": "#/components/schemas/Buzon"
          },
          "destinatarios": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Buzon"
            }
          },
          "destinatariosOculto": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Buzon"
            }
          },
          "destinatariosCopia": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Buzon"
            }
          },
          "adjuntos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Adjunto"
            }
          },
          "contenidos": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Adjunto"
            }
          },
          "confidencialidad": {
            "type": "boolean",
            "description": "Por defecto es false."
          },
          "asunto": {
            "type": "string"
          },
          "fechaEnvio": {
            "type": "string",
            "description": "Si es un mensaje aqui tendria la fecha de envio y si es notificacion aqui tendria la fecha de notificado. Este atributo es para propositos de consulta."
          },
          "entregado": {
            "type": "boolean"
          },
          "sinLeer": {
            "type": "boolean",
            "description": "Indica si el mensaje se encuentra leido o no"
          },
          "tags": {
            "type": "array",
            "description": "Es un arreglo de mensajes para asignar atributos particulares a un correo.",
            "items": {
              "$ref": "#/components/schemas/Param"
            }
          }
        },
        "required": [
          "contenido",
          "remitente",
          "destinatarios",
          "asunto"
        ]
      },
      "Evento": {
        "title": "Evento",
        "type": "object",
        "description": "Define uno de los tipos de eventos que se pueden dar sobre los mensajes. ",
        "properties": {
          "tipo": {
            "type": "string",
            "enum": [
              "DELIVERY",
              "REJECT",
              "OPEN",
              "SPAM"
            ],
            "description": "Define si es entrega, rechazo o apertura, con los datos adicionales. "
          },
          "contenido": {
            "type": "string",
            "description": "Cualquier contenido adicional detallado que sirva como auditoria y trazabilidad en formato JSON",
            "example": "{   \"eventType\": \"Delivery\",   \"mail\": {     \"timestamp\": \"2016-10-19T23:20:52.240Z\",     \"source\": \"sender@example.com\",     \"sourceArn\": \"arn:aws:ses:us-east-1:123456789012:identity/sender@example.com\",     \"sendingAccountId\": \"123456789012\",     \"messageId\": \"EXAMPLE7c191be45-e9aedb9a-02f9-4d12-a87d-dd0099a07f8a-000000\",     \"destination\": [       \"recipient@example.com\"     ],     \"headersTruncated\": false,     \"headers\": [       {         \"name\": \"From\",         \"value\": \"sender@example.com\"       },       {         \"name\": \"To\",         \"value\": \"recipient@example.com\"       },       {         \"name\": \"Subject\",         \"value\": \"Message sent from Amazon SES\"       },       {         \"name\": \"MIME-Version\",         \"value\": \"1.0\"       },       {         \"name\": \"Content-Type\",         \"value\": \"text/html; charset=UTF-8\"       },       {         \"name\": \"Content-Transfer-Encoding\",         \"value\": \"7bit\"       }     ],     \"commonHeaders\": {       \"from\": [         \"sender@example.com\"       ],       \"to\": [         \"recipient@example.com\"       ],       \"messageId\": \"EXAMPLE7c191be45-e9aedb9a-02f9-4d12-a87d-dd0099a07f8a-000000\",       \"subject\": \"Message sent from Amazon SES\"     },     \"tags\": {       \"ses:configuration-set\": [         \"ConfigSet\"       ],       \"ses:source-ip\": [         \"192.0.2.0\"       ],       \"ses:from-domain\": [         \"example.com\"       ],       \"ses:caller-identity\": [         \"ses_user\"       ],       \"ses:outgoing-ip\": [         \"192.0.2.0\"       ],       \"myCustomTag1\": [         \"myCustomTagValue1\"       ],       \"myCustomTag2\": [         \"myCustomTagValue2\"       ]           }   },   \"delivery\": {     \"timestamp\": \"2016-10-19T23:21:04.133Z\",     \"processingTimeMillis\": 11893,     \"recipients\": [       \"recipient@example.com\"     ],     \"smtpResponse\": \"250 2.6.0 Message received\",     \"reportingMTA\": \"mta.example.com\"   } }"
          },
          "idMensajeExterno": {
            "type": "string",
            "description": "Representa el identificador unico de la comunicación, es generado por el proveedor de envío de comunicaciones, llamese SendGrid, Azure Communications Services u otro."
          },
          "timestamp": {
            "type": "string",
            "description": "Fecha con horas, minutos, segundos y milisegundos. ISO 6801 de fechas.\n",
            "example": "{   \"eventType\": \"Delivery\",   \"mail\": {     \"timestamp\": \"2016-10-19T23:20:52.240Z\",     \"source\": \"sender@example.com\",     \"sourceArn\": \"arn:aws:ses:us-east-1:123456789012:identity/sender@example.com\",     \"sendingAccountId\": \"123456789012\",     \"messageId\": \"EXAMPLE7c191be45-e9aedb9a-02f9-4d12-a87d-dd0099a07f8a-000000\",     \"destination\": [       \"recipient@example.com\"     ],     \"headersTruncated\": false,     \"headers\": [       {         \"name\": \"From\",         \"value\": \"sender@example.com\"       },       {         \"name\": \"To\",         \"value\": \"recipient@example.com\"       },       {         \"name\": \"Subject\",         \"value\": \"Message sent from Amazon SES\"       },       {         \"name\": \"MIME-Version\",         \"value\": \"1.0\"       },       {         \"name\": \"Content-Type\",         \"value\": \"text/html; charset=UTF-8\"       },       {         \"name\": \"Content-Transfer-Encoding\",         \"value\": \"7bit\"       }     ],     \"commonHeaders\": {       \"from\": [         \"sender@example.com\"       ],       \"to\": [         \"recipient@example.com\"       ],       \"messageId\": \"EXAMPLE7c191be45-e9aedb9a-02f9-4d12-a87d-dd0099a07f8a-000000\",       \"subject\": \"Message sent from Amazon SES\"     },     \"tags\": {       \"ses:configuration-set\": [         \"ConfigSet\"       ],       \"ses:source-ip\": [         \"192.0.2.0\"       ],       \"ses:from-domain\": [         \"example.com\"       ],       \"ses:caller-identity\": [         \"ses_user\"       ],       \"ses:outgoing-ip\": [         \"192.0.2.0\"       ],       \"myCustomTag1\": [         \"myCustomTagValue1\"       ],       \"myCustomTag2\": [         \"myCustomTagValue2\"       ]           }   },   \"delivery\": {     \"timestamp\": \"2016-10-19T23:21:04.133Z\",     \"processingTimeMillis\": 11893,     \"recipients\": [       \"recipient@example.com\"     ],     \"smtpResponse\": \"250 2.6.0 Message received\",     \"reportingMTA\": \"mta.example.com\"   } }"
          },
          "id": {
            "type": "string",
            "description": "Idnetificador único del evento"
          }
        },
        "required": [
          "tipo",
          "contenido",
          "timestamp",
          "id"
        ]
      },
      "File": {
        "title": "File",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        }
      },
      "Link.v1": {
        "title": "Link",
        "type": "object",
        "description": "Define una referencia a un recurso de forma estándar.",
        "properties": {
          "rel": {
            "type": "string"
          },
          "href": {
            "type": "string"
          },
          "method": {
            "type": "string"
          }
        },
        "required": [
          "rel",
          "href"
        ],
        "x-examples": {
          "example-1": {}
        }
      },
      "Usuario.v1": {
        "title": "Usuario",
        "type": "object",
        "properties": {
          "identificacion": {
            "type": "string",
            "description": "En la forma CC-737683433"
          },
          "organizacion": {
            "type": "string",
            "description": "nit-80038483434"
          }
        },
        "required": [
          "identificacion"
        ],
        "description": ""
      },
      "Ideunico.v1": {
        "title": "IdeUnico",
        "type": "object",
        "description": "",
        "properties": {
          "identificador": {
            "type": "string"
          }
        }
      },
      "SMS": {
        "title": "SMS",
        "type": "object",
        "description": "Comunicación de tipo sms",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/Ideunico.v1"
          },
          "contenido": {
            "type": "string"
          },
          "telefonoOrigen": {
            "type": "string"
          },
          "telefonoDestino": {
            "type": "string"
          },
          "fechaEnvio": {
            "type": "string"
          },
          "entregado": {
            "type": "boolean"
          },
          "sinLeer": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Param"
            }
          },
          "destinatario": {
            "$ref": "#/components/schemas/Usuario.v1"
          }
        }
      },
      "Param": {
        "title": "Param",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          },
          "": {
            "type": "string"
          }
        },
        "description": ""
      },
      "RespuestaEstandar": {
        "title": "RespuestaEstandar",
        "type": "object",
        "properties": {
          "codigo": {
            "type": "integer",
            "description": "Código de respuesta http"
          },
          "mensaje": {
            "type": "string",
            "description": "Mensaje de la respuesta"
          },
          "descripcion": {
            "type": "string",
            "description": "Descripción detallada de la respuesta"
          }
        },
        "required": [
          "codigo",
          "mensaje"
        ]
      }
    }
  }
}